<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>鄙视</string>
	<string>害羞</string>
	<string>汗</string>
	<string>抠鼻</string>
	<string>哭</string>
	<string>酷</string>
	<string>吐舌头</string>
	<string>笑</string>
	<string>正直</string>
	<string>窒息</string>
	<string>醉了</string>
	<string>Duang~</string>
</array>
</plist>
