<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterList</key>
	<dict>
		<key>section0</key>
		<array>
			<dict>
				<key>title</key>
				<string>全球</string>
				<key>fid</key>
				<integer>0</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>同城</string>
				<key>fid</key>
				<integer>1</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>section1</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>fid</key>
				<integer>0</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>失恋中</string>
				<key>fid</key>
				<integer>1</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>无聊</string>
				<key>fid</key>
				<integer>2</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>思考人生</string>
				<key>fid</key>
				<integer>3</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>上自习</string>
				<key>fid</key>
				<integer>4</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>在路上</string>
				<key>fid</key>
				<integer>5</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>上班ing</string>
				<key>fid</key>
				<integer>6</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>健身</string>
				<key>fid</key>
				<integer>8</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>吃大餐</string>
				<key>fid</key>
				<integer>9</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>在自拍</string>
				<key>fid</key>
				<integer>10</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>section2</key>
		<array>
			<dict>
				<key>title</key>
				<string>所有人</string>
				<key>fid</key>
				<integer>0</integer>
				<key>isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>男生</string>
				<key>fid</key>
				<integer>2</integer>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>女生</string>
				<key>fid</key>
				<integer>4</integer>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
