<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StateList</key>
	<array>
		<dict>
			<key>fid</key>
			<integer>1</integer>
			<key>title</key>
			<string>失恋中</string>
			<key>image</key>
			<string>state/silly_state_sorry.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>无聊</string>
			<key>fid</key>
			<integer>2</integer>
			<key>image</key>
			<string>state/silly_state_boring.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>思考人生</string>
			<key>fid</key>
			<integer>3</integer>
			<key>image</key>
			<string>state/silly_state_think.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>上自习</string>
			<key>fid</key>
			<integer>4</integer>
			<key>image</key>
			<string>state/silly_state_study.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>在路上</string>
			<key>fid</key>
			<integer>5</integer>
			<key>image</key>
			<string>state/silly_state_wait.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>上班ing</string>
			<key>fid</key>
			<integer>6</integer>
			<key>image</key>
			<string>state/silly_state_work.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>健身</string>
			<key>fid</key>
			<integer>8</integer>
			<key>image</key>
			<string>state/silly_state_gym.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>吃大餐</string>
			<key>fid</key>
			<integer>9</integer>
			<key>image</key>
			<string>state/silly_state_eat.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>在自拍</string>
			<key>fid</key>
			<integer>10</integer>
			<key>image</key>
			<string>state/silly_state_self.png</string>
		</dict>
	</array>
</dict>
</plist>
